# [*.cs]
# # dotnet_diagnostic.IDE0160.severity = error
# # dotnet_diagnostic.IDE0161.severity = error
# dotnet_diagnostic.IDE0161.severity = error

[*.cs]
#csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_namespace_declarations = file_scoped:error