root = true

[*]
indent_style = space

[*.{props,csproj,md,config}]
indent_size = 2

[*.cs]
#csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_namespace_declarations = file_scoped:error


# IDE0290 기본 생성자
# IDE0130

# Verify settings
[*.{received,verified}.{json,txt,xml}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false